nav {
  background-color: #ffc04d;
  color: white;
  padding: 10px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
  font-family: Arial, sans-serif;
}

ul {
  list-style: none;
  display: flex;
  justify-content: center;
  padding: 0;
}

li {
  margin: 0 20px;
}

a {
  text-decoration: none;
  color: #ffc04d;
  font-weight: bold;
  transition: color 0.3s;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}

a:hover {
  color: #ff9933;
}

form {
  background-color: #fff;
  padding: 20px;
  border: 1px solid #ddd;
  border-radius: 5px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
  max-width: 600px;
  margin: 0 auto;
}

label {
  display: block;
  margin-bottom: 10px;
  font-weight: bold;
  font-family: Arial, sans-serif;
}

input[type="text"],
textarea {
  width: 95%;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  margin-bottom: 15px;
  transition: border-color 0.3s;
}

input[type="text"]:focus,
textarea:focus {
  border-color: #ffc04d;
}

button {
  background-color: #ffc04d;
  color: white;
  border: none;
  padding: 10px 20px;
  cursor: pointer;
  font-weight: bold;
  transition: background-color 0.3s;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}

button:hover {
  background-color: #ff9933;
}

.encuesta-item-container {
  background-color: #ffe6cc;
  border: 1px solid #ddd;
  border-radius: 10px;
  padding: 20px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  display: block;
  transition: transform 0.3s;
  margin: 10px 0;
  font-family: Arial, sans-serif;
}

.encuesta-item-container:hover {
  transform: translateY(-5px);
}

.encuesta-item h2 {
  font-size: 20px;
  margin-bottom: 15px;
}

.encuesta-item p {
  color: #666;
  margin-bottom: 10px;
}


nav {
  background-color: #ffc04d;
  color: black; 
  padding: 10px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
  font-family: Arial, sans-serif;
}


a {
  text-decoration: none;
  color: #ff6f00; 
  font-weight: bold;
  transition: color 0.3s;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}

a:hover {
  color: #ff9933;
}


